ul#tasks {
  max-height: 40vh;
}

.task {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.task-description {
  flex: 1;
}

.task-actions > * {
  margin-left: 1rem;
}

.task-actions img.icon {
  width: 2rem;
  vertical-align: middle;
}

.tasks-filters {
  display: flex;
  justify-content: space-around;
  border-top: #ccc 1px solid;
  padding-top: 1rem;
}

.tasks-filters a[href] {
  color: inherit;
}

.tasks-filters a[href]:hover {
  color: #0061ff;
}